<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <link rel="stylesheet" href="/public/style.css" class="style">
</head>
<body>
    <% ("includes/index.ejs") %>
    <% ("inludes/show.ejs") %>
    <% ("includes/edit.ejs") %>
    <% ("includes/new.ejs") %>
</body>
</html>