<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora</title>
    <style>
        h1{
            color: maroon;
        }
        body{
            background-color: rgb(160, 240, 240);
        }
        input,textarea{
            height: 60px;
            width: 300px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        button{
            background-color: green;
            color: white;
            border-radius: 14px;
            height: 40px;
            width: 100px;
        }
    </style>
</head>
<body>
    <form method="post" action="/posts">
        <h1>Quora Posting</h1>
        <input name="username" placeholder="your name here">
        <br/><br/>
        <textarea placeholder="comments" name="says"></textarea>
        <br/><br/>
        <button>Submit</button>
    </form>
</body>
</html>